* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/* general*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div {
  border: 1px rgb(53, 201, 250) solid;
}
/* properties of all buttons */
button {
  border: none;
}
/* social media button and register links divider */
.sline {
  height: 1em;
  width: 0.1rem;
  background-color: gray;
  border: none;
  margin: 0 0.5em;
}
/* outer boxes and inner boxes shared properties */
.login-container,
.big-box {
  display: grid;
}

/* container of entire app */
.login-container {
  grid-template-rows: 4fr 1fr;
  /* grid-template-areas:
    "big-box"
    "bottom-box"; */
  gap: 1rem;
  border: darkgoldenrod solid 3px;
  width: 40vw;
  height: 30vh;
}

/* big box (= upper box of outer boxes) */
.big-box {
  border: darkgreen 2px solid;
  /* grid-area: big-box; */
  grid-template-columns: 17fr 1fr 17fr;
  grid-template-areas: "sm-container or-divider sign-in-form";
  height: 100%;
}
/* boxes inside big box */
/* social media part (left side of big box) */
.social-media-container {
  grid-area: sm-container;
  /* height: 40vh; */
}
/* social media buttons */
.social-media-buttons {
  height: 2rem;
  width: 15rem;
  margin: 1em 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-buttons div {
  display: inline-block;
}
.facebook {
  background-color: rgb(77, 77, 245);
}
.google {
  background-color: rgb(255, 0, 64);
}
.twitter {
  background-color: rgb(0, 234, 255);
}

/* or divider (middle part inside big box) */
.or-divider {
  grid-area: or-divider;
  /* background-color: darkorange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  border: gray 2px solid;
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
}
.or-divider::before,
.or-divider::after {
  content: "";
  height: 3rem;
  width: 0.2rem;
  background-color: gray;
  position: absolute;
  display: block;
}
.or-divider::before {
  top: 104%;
}
.or-divider::after {
  bottom: 104%;
}

/* sign in form (right side of big box) */
.sign-in-container {
  background-color: darkseagreen;
  display: grid;
  /* grid-template-rows: repeat(4, 1fr); */
  /* grid-template-areas: ; */
  /* grid-area: sign-in-form; */
  padding: 1em 2em;
}
/* #sign-in-with,
#username-box,
#password-box {
  margin: 8%;
} */
.sign-in-with {
  color: lightslategray;
  text-align: center;
  font-weight: bold;
  /* margin-bottom: 2em; */
}
.username-box,
.password-box {
  border-bottom: lightgray 1px solid;
}
form i {
  color: lightslategray;
}
input[type="text"],
input[type="password"] {
  font-weight: bold;
  border: none;
  padding-left: 1em;
  width: 86%;
}

/* part underneath sign-in form */
.remember-me-login-box,
.remember-me {
  display: flex;
  justify-content: center;
  align-content: center;
}
.remember-me label {
  color: darkslategray;
}
.login-button {
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 0 1em;
  margin-left: 1em;
  width: 7rem;
  height: 2rem;
}

/* bottom box */
.bottom-box {
  /* grid-area: bottom-box; */
  font-weight: bold;
  display: flex;
  justify-content: center;
}
/* divider in bottom box see above in general*/
/* links in bottom box */
.bottom-box a {
  color: rgb(0, 132, 255);
  text-decoration: none;
}
