* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/* general*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* div {
  border: 1px rgb(53, 201, 250) solid;
} */
/* properties of all buttons */
button {
  border: none;
}
/* social media button and register links divider */
.sline {
  height: 1em;
  width: 0.1rem;
  background-color: gray;
  border: none;
  margin: 0 0.5em;
}
/* outer boxes and inner boxes shared properties */
.login-container,
.big-box {
  display: grid;
}

/* container of entire app */
.login-container {
  grid-template-rows: 4fr 1fr;
  gap: 0.2rem;
  /* border: darkgoldenrod solid 3px; */
  width: 40vw;
  height: 30vh;
}

/* big box (= upper box of outer boxes) */
.big-box {
  border: darkgray 2px solid;
  /* grid-area: big-box; */
  grid-template-columns: 17fr 1fr 17fr;
  grid-template-areas: "sm-container or-divider sign-in-form";
  height: 100%;
}
/* boxes inside big box */
/* social media part (left side of big box) */
.social-media-container {
  grid-area: sm-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* social media buttons */
.social-media-buttons {
  height: 2rem;
  width: 15rem;
  margin: 1em 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-buttons div {
  display: inline-block;
}
.facebook {
  background-color: rgb(77, 77, 245);
}
.google {
  background-color: rgb(255, 0, 64);
}
.twitter {
  background-color: rgb(0, 234, 255);
}

/* or divider (middle part inside big box) */
.or-divider {
  grid-area: or-divider;
  /* background-color: darkorange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  border: gray 2px solid;
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
}
.or-divider::before,
.or-divider::after {
  content: "";
  height: 3rem;
  width: 0.2rem;
  background-color: gray;
  position: absolute;
  display: block;
}
.or-divider::before {
  top: 104%;
}
.or-divider::after {
  bottom: 104%;
}

/* sign in form (right side of big box) */
.sign-in-container {
  /* background-color: rgb(192, 221, 192); */
  display: grid;
  padding: 1em 2em;
}
.sign-in-with,
.username-box,
.password-box,
.remember-me-login-box {
  margin: 5%;
}
.sign-in-with {
  color: darkslategray;
  text-align: center;
  font-weight: bold;
}
.username-box,
.password-box {
  border-bottom: lightgray 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* icons inside form */
form i {
  color: lightslategray;
}
/* input fields of form */
input[type="text"],
input[type="password"] {
  font-weight: bold;
  border: none;
  padding-left: 1em;
  height: 2rem;
  width: 94%;
}
/* part underneath sign-in form */
/* checkbox of remember me */
.remember-me-login-box,
.remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remember-me,
.login-button {
  height: 2.2rem;
}
.remember-me label {
  color: darkslategray;
  margin-left: 0.5rem;
}
/* login button */
.login-button {
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
  padding: 0 1em;
  margin-left: 1em;
  width: 6rem;
}

/* bottom box */
.bottom-box {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
/* divider in bottom box see above in general*/
/* links in bottom box */
.bottom-box a {
  color: rgb(0, 132, 255);
  text-decoration: none;
}
