* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/* general*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 247, 247);
  height: 100vh;
}
div {
  border: 1px rgb(53, 201, 250) solid;
}
button {
  border: none;
}
/* outer boxes and inner boxes shared properties */
.login-container,
.big-box {
  display: grid;
}

/* container of entire app */
.login-container {
  grid-template-rows: repeat(5, 1fr) 1fr;
  gap: 1rem;
  border: darkgoldenrod solid 3px;
  width: 40vw;
  height: 30vh;
}

/* big box (= upper box of outer boxes) */
.big-box {
  border: darkgreen 2px solid;
  grid-template-columns: 17fr 1fr 17fr;
  grid-template-areas: "sm-container or-divider sign-in-form";
}
/* social media part (left side of big box) */
.social-media-container {
  grid-area: sm-container;
  background-color: darkgrey;
}

/* or divider inside big box */
.or-divider {
  grid-area: or-divider;
  /* background-color: darkorange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  border: gray 2px solid;
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
}
.or-divider::before,
.or-divider::after {
  content: "";
  height: 3rem;
  width: 0.2rem;
  background-color: gray;
  position: absolute;
  display: block;
}
.or-divider::before {
  top: 104%;
}
.or-divider::after {
  bottom: 104%;
}

/* sign in form (right side of big box) */
.sign-in-container {
  grid-area: sign-in-form;
  background-color: darkseagreen;
}

/* inner boxes of big box */

/* social media buttons */
.social-media-buttons {
  height: 2rem;
  width: 15rem;
  margin: 1em 3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-buttons div {
  display: inline-block;
}
.facebook {
  background-color: rgb(77, 77, 245);
}
.google {
  background-color: rgb(255, 0, 64);
}
.twitter {
  background-color: rgb(0, 234, 255);
}

/* bottom box */
.bottom-box {
  font-weight: bold;
  display: flex;
  justify-content: center;
}
/* divider in bottom box */
.sline {
  height: 1em;
  width: 3px;
  background-color: yellow;
  border: none;
  margin: 0 0.5em;
}
/* links in bottom box */
.bottom-box a {
  color: rgb(0, 132, 255);
  text-decoration: none;
}
