* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/* general*/
div {
  border: 1px blue solid;
}
/* outer boxes and inner boxes shared properties */
.login-container {
  display: grid;
}
.login-container {
  grid-template-rows: repeat(5, 1fr) 1fr;
  gap: 1rem;
  border: darkgoldenrod solid 3px;
}

.big-box {
  border: darkgreen 2px solid;
}

/* inner boxes */

/* social media buttons */
.social-media-buttons {
  height: 2rem;
  width: 15rem;
  margin: 1em 3em;
  color: white;
}
.facebook {
  background-color: rgb(77, 77, 245);
}
.google {
  background-color: rgb(255, 0, 64);
}
.twitter {
  background-color: rgb(0, 234, 255);
}
