* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/* form general*/
form {
  position: absolute;
  margin: 10rem;
}
fieldset {
  border: lightgray 1px solid;
}
#main {
  width: 70vw;
  /* display: inline-flex; */
}
#social-media,
#or-divider,
#or,
#sign-in {
  border: 1px green solid;
  height: 10em;
  display: inline-block;
}

/* individual outer parts */

/* social media links */
#social-media {
  width: 15rem;
  height: auto;
}
button {
  color: white;
  border: none;
}

/* divider */
#or-divider {
  width: 1%;
  z-index: 1;
}
#or {
  height: 3em;
  width: 3em;
  border: lightgray 1px solid;
  border-radius: 50%;
  z-index: 2;
  color: lightgray;
  text-align: center;
}

/* sign in form */
#sign-in {
  width: 15rem;
}
#sign-in + div {
  height: 1em;
  width: 10em;
  border: yellow solid 1px;
  background-color: teal;
  text-align: center;
}
/* why does this not work? */

/* underneath input of sign in*/
#login-button {
  background-color: steelblue;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 0.5em 1.3em;
}

input[type="checkbox"] {
  border: red solid 1px;
  border-radius: none;
}
/* why does this not work? */

/* social media buttons */
#social-media button {
  height: 2rem;
  width: 10rem;
  margin: 1em;
  color: white;
}

#facebook {
  background-color: rgb(77, 77, 245);
}
#google {
  background-color: rgb(255, 0, 64);
}
#twitter {
  background-color: rgb(0, 234, 255);
}

/* bottom of form */
#sign-in-options {
  background-color: rgb(228, 236, 247);
}
#sign-in-options a {
  color: rgb(0, 132, 255);
  text-decoration: none;
  display: inline;
}
#border {
  border-left: lightgray solid 1px;
  height: 1em;
}
